<tr class="article_item" data-id="{{ article.id }}">
    <td class="article_title">{{ article.title }}</td>
    <td class="article_date_created">{{ article.date_created }}</td>
    <td class="article_public">
        {% if article.public %}
           <i class="fa fa-check" ></i>
        {% else %}
            <i class="fa fa-times" ></i>
        {% endif%}
    </td>
    <td class="view_link article_button">
        <a  alt="Bekijken"
            class="pure-button"
            href="{{url_for("article", id=article.id, slug=slugify(article.title))}}"
        >
            <i class="fa fa-eye" ></i>
        </a>
    </td>
    <td class="edit_link article_button">
        <a alt="Bewerken" class="pure-button" href="{{ url_for("edit_article", id=article.id) }}">
            <i class="fa fa-pencil" ></i>
        </a>
    </td>
    <td class="delete_link article_button">
        <a alt="Verwijderen" class="pure-button" href="{{ url_for("delete_article", id=article.id) }}">
            <i class="fa fa-trash-o" ></i>
        </a>
    </td>
</tr>
