{% extends "base.html" %}
{% block title%}Artikel Verwijderen{% endblock%}
{% block main %}
<main id="delete_article">
    <p id="confirmation_question">
        Artikel "{{article.title}}" definitief verwijderen?
    </p>
    <div class="pure-g" id="delete_options">
        <div class="pure-u-1-2">
            <form method="POST">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
                <button id="confirm_delete" class="pure-button" type="submit">
                    Verwijderen
                </button>
            </form>
        </div>
        <div class="pure-u-1-2">
            <a href="{{ url_for("admin_main") }}">
                <button class="pure-button">Annuleren</button>
            </a>
        </div>
    </div>
</main>
{% endblock %}
